<footer class="page-footer font-small blue fcs">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <!-- Footer Elements -->
  <div class="container-fluid">
<br>
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 flex-center">
                <div class="md-5 text-center">
          
          <!-- Facebook -->
          <a class="social-ic" href="https://www.facebook.com/naveenjujaray">
            <i class="fa fa-facebook-f social-ic fa-lg mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!-- Twitter -->
          <a class="social-ic" href="https://www.twitter.com/naveenjujaray">
            <i class="fa fa-twitter social-ic fa-lg mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!-- Github-->
          <a class="social-ic" href="https://www.github.com/naveenjujaray">
            <i class="fa fa-github social-ic fa-lg mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!--Linkedin -->
          <a class="social-ic" href="https://www.linkedin.com/in/naveenjujaray">
            <i  class="fa fa-linkedin-square social-ic fa-lg mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!--Instagram-->
          <a class="social-ic" href="https://www.instagram.com/naveenjujaray">
            <i class="fab fa-instagram social-ic fa-lg mr-md-5 mr-3 fa-2x"></i>
          </a>
          <!--Medium-->
          <a class="social-ic" href="https://medium.com/@naveenjujaray">
            <i class="fa fa-medium social-ic fa-lg mr-md-5 mr-3 fa-2x"></i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <div class="page-footer font-small blue ">
    
    <div class="footer footer-copyright text-center py-3">© 2020 Copyright:
      <a href="{{ "/"  }}" id="oye">Naveen Jujaray - Blog</a>
    </div>

  </div>
  
  
</footer>
